---
layout: default
title: "Past Projects"
description: "Previous projects at ISL"
group: subnavigation
navorder: 7
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class="construction">
</div>
{% for project in site.categories.past_project %}
<div class='row'>
  <!--
  <div class='row'>
    <div class='col-md-12'>
    <div class="media">
      <a class="project-image" href="{{ project.url }}">
        <img class="media-object" src="{{ project.image }}">
      </a>
    </div>
  </div>
  -->
  <div class='row'>
    <div class="col-md-4 paperbox">
      <div class="smallhead media-heading"><b><u><a href="{{ BASE_PATH }}{{ project.url }}" class="off">{{ project.title }}</a></u></b></div>
    </div>
    <div class='col-md-8'>
      {{ project.tagline }}
      <div class="bigspacer"></div>
    </div>
  </div>
</div>
{% endfor %}

<div class="bigspacer"></div>
